@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


:root{

    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

@theme{
    --color-primary:#ea2e0e;


}

@utility flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@utility flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@layer utilities {
  /* For Chrome, Safari, and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}
